aniso8601==1.2.0
argcomplete==1.9.2
asn1crypto==0.24.0
attrs==17.4.0
awscli==1.15.28
backports.functools-lru-cache==1.5
base58==0.2.4
boto3==1.7.28
botocore==1.10.28
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
cfn-flip==1.0.3
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.1.4
cycler==0.10.0
decorator==4.2.1
docutils==0.14
durationpy==0.5
enum34==1.1.6
Flask==0.12.1
Flask-Ask==0.9.7
funcsigs==1.0.2
future==0.16.0
futures==3.1.1
google-api-python-client==1.7.4
google-auth==1.4.2
google-auth-httplib2==0.0.3
gspread==3.0.1
hjson==3.0.1
httplib2==0.11.3
idna==2.6
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
kappa==0.6.0
kiwisolver==1.0.1
lambda-packages==0.19.0
markovify==0.7.1
MarkupSafe==1.0
matplotlib==1.4.3
mcts==0.1
mimicry==0.3.0
mock==2.0.0
more-itertools==4.1.0
networkx==1.11
nose==1.3.7
numpy==1.14.1
oauth2client==4.1.2
ordereddict==1.1
pandas==0.22.0
pbr==4.0.1
Pillow==8.1.1
pipenv==2018.5.18
placebo==0.8.1
pluggy==0.6.0
praw==5.4.0
prawcore==0.14.0
py==1.5.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
PyBrain==0.3
pycparser==2.18
pymdptoolbox==4.0b3
pyOpenSSL==17.0.0
pyparsing==2.2.0
pytest==3.5.1
pytest-runner==4.2
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2018.3
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
schedule==0.5.0
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
six==1.11.0
sklearn==0.0
slackclient==1.2.1
subprocess32==3.2.7
toml==0.9.4
tqdm==4.19.1
troposphere==2.3.0
Unidecode==1.0.22
update-checker==0.16
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
websocket-client==0.51.0
Werkzeug==0.12
wsgi-request-logger==0.4.6
zappa==0.45.1
